---
const title = "Tuhin Bhowmick | Android  Developer |Jetpack Compose | Kotlin";

const description =
  "Hello 👋 I am  Tuhin, an enthusiastic android developer with 2 years of hands on experience.\
  Skilled in working with jetpack compose, kotlin ,coroutines and others.";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <!--Facebook meta tags -->
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://tuhinbhowmick.com/images/og_image.svg"
    />
    <meta property="og:url" content="https://tuhinbhowmick.in" />
    <meta property="og:description" content={description} />
    <!--Twitter meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="tuhinbhowmick.in" />
    <meta property="twitter:url" content="https://tuhinbhowmick.in" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content="https://tuhinbhowmick.com/images/og_image.svg"
    />
    <link rel="apple-touch-icon" href="./favicon/icons8-student-16.png" />
    <link
      type="image/png"
      sizes="16x16"
      rel="icon"
      href="./favicon/icons8-student-16.png"
    />
    <link
      type="image/png"
      sizes="32x32"
      rel="icon"
      href="./favicon/icons8-student-32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="./favicon/icons8-student-96.png"
    />
    <title>{title}</title>
    <!-- Analytics -->
    <script
      is:inline
      type="text/partytown"
      src=`https://www.googletagmanager.com/gtag/js?id=G-83XB4SPKEJ`></script>
    <script is:inline type="text/partytown">
      const G_TAG = "G-83XB4SPKEJ";
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", G_TAG);
      console.log("ANALYTICS IMPLANTED");
    </script>
    <!-- Analytics -->
  </head>
  <body>
    <slot />
  </body>

  <style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

    html {
      font-family: system-ui, sans-serif;
      background-color: #f6f6f6;
      scroll-behavior: smooth;
    }
    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }
  </style>
</html>
