---
const title = "Tuhin Bhowmick";

const description =
  "Hi 👋 I am  Tuhin, an student and an application developer.I am interested in mobile development and backend development";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <!--Facebook meta tags -->
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://tuhinbhowmick.com/images/og_image.png"
    />
    <meta property="og:url" content="https://tuhinbhowmick.com" />
    <meta property="og:description" content={description} />
    <!--Twitter meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="tuhinbhowmick.com" />
    <meta property="twitter:url" content="https://tuhinbhowmick.com" />
    <meta name="twitter:title" content="Tuhin Bhowmick" />
    <meta
      name="twitter:description"
      content="Hi 👋 I am Tuhin, an student and an application developer.I am interested in mobile development and backend development"
    />
    <meta
      name="twitter:image"
      content="https://tuhinbhowmick.com/images/og_image.png"
    />

    <link
      type="image/png"
      sizes="16x16"
      rel="icon"
      href="./favicon/icons8-student-16.png"
    />
    <link
      type="image/png"
      sizes="32x32"
      rel="icon"
      href="./favicon/icons8-student-32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="./favicon/icons8-student-96.png"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>

  <style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");

    html {
      font-family: system-ui, sans-serif;
      background-color: #f6f6f6;
      scroll-behavior: smooth;
    }
    code {
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
  </style>
</html>
